<h1>Listing titulos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @titulos.each do |titulo| %>
  <tr>
    <td><%= titulo.nombre %></td>
    <td><%= link_to 'Show', titulo %></td>
    <td><%= link_to 'Edit', edit_titulo_path(titulo) %></td>
    <td><%= link_to 'Destroy', titulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Titulo', new_titulo_path %>
