<% if can? :manage, @cursos %>

<%= form_for(@curso, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <style type="text/css">
    h4{
      margin: 0px;
      padding: 0px;
    }
  </style>

  <div class="row">
    <div class="span12" style="margin-top:20px;margin-bottom:20px;">
      <span class="label label-info"><h4>Nuevo Curso</h4></span>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Nombre del curso:</strong></label>
        <div class="controls">
          <%= f.text_field :nombre, :style => "width:100%;" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Institución Oferente:</strong></label>
        <div class="controls">
          <%= f.collection_select(:institucion_oferente_id, InstitucionOferente.all, :id, :nombre) %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Lugar Geográfico:</strong></label>
        <div class="controls">
          <%= f.collection_select(:localidad_id, Localidad.all, :id, :nombre) %>
        </div>
      </div>
    </div>   
  </div>


  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Reseña:</strong></label>
        <div class="controls">
          <%= f.text_area :resenia, :rows => "3", :style => "width:100%;" %>
        </div>
      </div>
    </div>
    </div>

 <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Destinatarios:</strong></label>
        <div class="controls">
          <%= f.text_area :destinatarios, :rows => "3", :style => "width:100%;" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Carga Horaria Presencial:</strong></label>
        <div class="controls">
          <%= f.text_field :carga_horaria_presencial %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Carga Horaria No Presencial:</strong></label>
        <div class="controls">
          <%= f.text_field :carga_horaria_no_presencial %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Número de Expediente:</strong></label>
        <div class="controls">
          <%= f.text_field :nro_expediente %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Fechas y Horarios:</strong></label>
        <div class="controls">
          <%= f.text_area :fechas_y_horarios,:rows => "3", :style => "width:100%;" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Capacitadores:</strong></label>
        <div class="controls">
          <%= f.text_area :capacitadores, :rows => "3", :style => "width:100%;" %>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Marque si se encuentra Disponible</strong></label>
        <div class="controls">
          <%= f.check_box :disponible%>
        </div>
      </div>
    </div>
    </div>




  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Cantidad de Cupos para inscripción:</strong></label>
        <div class="controls">
          <%= f.number_field :cupo_inscripcion  %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Cantidad de Cupos Real del Curso:</strong></label>
        <div class="controls">
          <%= f.number_field :cupo_real %>
        </div>
      </div>
    </div>
    </div>


  <div class="actions" align="center">
    <%= f.submit :value => "Enviar Formulario", :class => "btn btn-primary" %>
  </div>
<% end %>


<% else %>
    
   <%= flash[:error] = "Usted no está autorizado para ingresar a esta página" %>
   <script type="text/javascript">
     window.location.href="/cursos/cursos_disponibles"
   </script>
    
<% end %>

