
<form class="form-horizontal">

  <div class="row">
    <div class="span12">
      <h4>Cursos Disponibles para inscripción</h4>
    </div>
  </div>

  <hr/>


  <% cursos_disponibles = Array.new %>
  <% cursos_disponibles = Curso.where(:disponible => true) %>
  <% cursos_disponibles.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |cd| %>
        <div class="span3 pagination-centered" style="padding-right: 100px">
          <%= image_tag("curso.png", :alt => "problemas con la foto", :class => "img-circle", :style => "width: 140px; height: 140px;") %>
          <h2> <%= cd.nombre %> </h2>
          <p align="justify"> <b>reseña:</b> <%= cd.resenia %> </p>
          <p align="justify"> <b>cupo:</b> <%= cd.cupo_inscripcion %> </p>
          <p align="justify"> <b>destinatarios:</b> <%= cd.destinatarios %> </p>
          <p align="justify"> <b>fechas y horarios:</b> <%= cd.fechas_y_horarios %> </p>
          <p><%= link_to 'Ver detalles >>', cd, :class => "btn btn-success" %></p>
        </div>
      <% end %>
    </div>
    <hr/>
  <% end %>

</form>