<h1>Listing cursos</h1>

<table>
  <tr>
    <th>Institucion oferente</th>
    <th>Tel contacto</th>
    <th>Calle</th>
    <th>Nro</th>
    <th>Piso</th>
    <th>Depto</th>
    <th>Email</th>
    <th>Resenia</th>
    <th>Destinatarios</th>
    <th>Carga horaria presencial</th>
    <th>Carga horaria no presencial</th>
    <th>Nro expediente</th>
    <th>Localidad</th>
    <th>Fechas y horarios</th>
    <th>Capacitadores</th>
    <th>Disponible</th>
    <th>Cupo inscipcion</th>
    <th>Cupo real</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cursos.each do |curso| %>
  <tr>
    <td><%= curso.institucion_oferente %></td>
    <td><%= curso.tel_contacto %></td>
    <td><%= curso.calle %></td>
    <td><%= curso.nro %></td>
    <td><%= curso.piso %></td>
    <td><%= curso.depto %></td>
    <td><%= curso.email %></td>
    <td><%= curso.resenia %></td>
    <td><%= curso.destinatarios %></td>
    <td><%= curso.carga_horaria_presencial %></td>
    <td><%= curso.carga_horaria_no_presencial %></td>
    <td><%= curso.nro_expediente %></td>
    <td><%= curso.localidad_id %></td>
    <td><%= curso.fechas_y_horarios %></td>
    <td><%= curso.capacitadores %></td>
    <td><%= curso.disponible %></td>
    <td><%= curso.cupo_inscripcion %></td>
    <td><%= curso.cupo_real %></td>
    <td><%= link_to 'Show', curso %></td>
    <td><%= link_to 'Edit', edit_curso_path(curso) %></td>
    <td><%= link_to 'Destroy', curso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Curso', new_curso_path %>
