<p id="notice"><%= notice %></p>

<style type="text/css">
  .form-horizontal .control-label {
      margin-left: -10px;
  }
  .form-horizontal .controls{
      margin-right: 30px;
  }
  h4,h6{
    margin: 0px;
    padding: 0px;
  }
  .controls {
    padding-top: 5px;
  }
  .cuadro {
    background: #EFFBFB;
    border:1px solid;
    border-radius:2em;
    border-color: #A9E2F3;
    padding-left: 10px;
  }
  .logo {
    position:absolute;
    left:1300px;
    top:230px;
  }
</style>

<div class="cuadro">

<form class="form-horizontal">

  <div class="row">
    <div class="span12" style="margin-top:20px;margin-bottom:20px;">
      <span class="label label-info"><h4><%= @curso.nombre %></h4></span>
    </div>
  </div>

  <div class="logo"><p align="center"><%=link_to image_tag("sello.png")%></p></div>

  <div class="row">
    <div class="span6">
      <div class="control-group info">
        <label class="control-label"><strong>Institución oferente:</strong></label>
        <div class="controls">
          <%= @curso.institucion_oferente %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group info">
        <label class="control-label"><strong>Lugar geográfico:</strong></label>
        <div class="controls">
          <%= @curso.localidad %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group info">
        <label class="control-label"><strong>Lugar de realización:</strong></label>
        <div class="controls">
          <%= @curso.lugar_de_realizacion %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group info">
        <label class="control-label"><strong>Descripción:</strong></label>
        <div class="controls">
          <%= @curso.resenia %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group info">
        <label class="control-label"><strong>Fechas y horarios:</strong></label>
        <div class="controls">
          <%= @curso.fechas_y_horarios %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group info">
        <label class="control-label"><strong>Capacitadores:</strong></label>
        <div class="controls">
          <%= @curso.capacitadores %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group info">
        <label class="control-label"><strong>Destinatarios:</strong></label>
        <div class="controls">
          <%= @curso.destinatarios %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group info">
        <label class="control-label"><strong>Carga horaria presencial:</strong></label>
        <div class="controls">
          <%= @curso.carga_horaria_presencial %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group info">
        <label class="control-label"><strong>Carga horaria no presencial:</strong></label>
        <div class="controls">
           <%= @curso.carga_horaria_no_presencial %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group info">
        <label class="control-label"><strong>Teléfono de contacto:</strong></label>
        <div class="controls">
          <%= @curso.institucion_oferente.telefono %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group info">
        <label class="control-label"><strong>Correo electrónico:</strong></label>
        <div class="controls">
           <%= @curso.institucion_oferente.email %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span3">
      <div class="control-group info">
        <label class="control-label"><strong>Calle:</strong></label>
        <div class="controls">
          <%= @curso.institucion_oferente.calle %>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="control-group info">
        <label class="control-label"><strong>Nro:</strong></label>
        <div class="controls">
           <%= @curso.institucion_oferente.nro_calle %>
        </div>
      </div>
    </div>
    <div class="span2">
      <div class="control-group info">
        <label class="control-label"><strong>Piso:</strong></label>
        <div class="controls">
          <%= @curso.institucion_oferente.piso %>
        </div>
      </div>
    </div>
    <div class="span2">
      <div class="control-group info">
        <label class="control-label"><strong>Depto:</strong></label>
        <div class="controls">
           <%= @curso.institucion_oferente.depto %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group info">
        <label class="control-label"><strong>Localidad:</strong></label>
        <div class="controls">
          <%= @curso.localidad_id %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group info">
        <label class="control-label"><strong>Número de expediente:</strong></label>
        <div class="controls">
          <%= @curso.nro_expediente %>
        </div>
      </div>
    </div>
  </div>

</form>
</div>

</br>

<!-- <button onclick="location.href='http://chubut.edu.ar'" class="btn btn-success">Finalizar</button> -->
<button class="btn btn-success" onclick="location.href='<%=url_for :controller => "personas", :action => "new", :idCurso => @curso.id %>'">Inscribirse</button>
<!-- <button class="btn btn-success" onclick="location.href='/personas/alta_curso?idCurso=<%=@curso.id%>'">Inscribirse</button> -->

| 

<% if user_signed_in? %>
  <%= link_to 'Atrás', cursos_path, :class => "btn btn-primary" %>
<% else %>
  <%= link_to 'Atrás', cursos_cursos_disponibles_path, :class => "btn btn-primary" %>
<% end %>
