<%= form_for(@persona, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <style type="text/css">
    h4{
      margin: 0px;
      padding: 0px;
    }
  </style>

  <div class="row" id="buscar_doc">
    <div class="span5">
      <div class="control-group success">
        <label class="control-label"><strong>Ingrese su Número de documento:</strong></label>
        <div class="controls">
          <%= f.text_field :nro_documento, :id => "nro_doc", :onkeypress=>"return capturarEnter(event)" %>
        </div>
      </div>
    </div>
    <div class="span7">
      <button id="btn-nro-doc" type="button" class="btn btn-success">Buscar</button>
    </div>
  </div>

  


  <div id="formulario">
  <div class="row">
    <div class="span12" style="margin-top:20px;margin-bottom:20px;">
      <span class="label label-info"><h4>Datos personales</h4></span>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Apellidos y nombres:</strong></label>
        <div class="controls">
          <%= f.text_field :apellidos_y_nombres, :style => "width:100%;" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Tipo de documento:</strong></label>
        <div class="controls">
          <%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :nombre) %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Número de documento:</strong></label>
        <div class="controls">
          <%= f.text_field :nro_documento %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Fecha de nacimiento:</strong></label>
        <div class="controls">
          <%= f.datepicker :fecha_nacimiento, :id => "datepicker" %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Situación de revista:</strong></label>
        <div class="controls">
          <%= f.collection_select(:situacion_revista_id, SituacionRevistum.all, :id, :nombre) %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Título:</strong></label>
        <div class="controls">
          <%= f.collection_select(:titulo_id, Titulo.all, :id, :nombre) %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Nombre del título:</strong></label>
        <div class="controls">
          <%= f.text_field :nombre_titulo %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Escuela:</strong></label>
        <div class="controls">
          <%= f.collection_select(:escuela_id, Escuela.all, :id, :nombre) %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Localidad:</strong></label>
        <div class="controls">
          <%= f.collection_select(:localidad_id, Localidad.all, :id, :nombre) %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Espacio curricular:</strong></label>
        <div class="controls">
          <%= f.text_field :espacio_curricular %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Fecha de alta en espacio curricular:</strong></label>
        <div class="controls">
          <%= f.datepicker :fecha_alta_espacio_curr, :id => "datepicker2" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Correo electrónico:</strong></label>
        <div class="controls">
          <%= f.text_field :email, :style => "width:100%;" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Teléfono particular:</strong></label>
        <div class="controls">
          <%= f.text_field :tel_particular %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Teléfono laboral:</strong></label>
        <div class="controls">
          <%= f.text_field :tel_laboral %>
        </div>
      </div>
    </div>
  </div></br>

<% @listado_de_datepickers = ['datepicker', 'datepicker2'] %>

<% @listado_de_datepickers.each do |l| %>

    <script type="text/javascript">
        
          $("#<%=l%>").datepicker({dateFormat:"dd-mm-yy",
          dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
          changeYear: true,
          yearRange: "1910:<%= Date.today.year + 10 %>", 
          monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
          monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
          navigationAsDateFormat: true,
          nextText: "Sig", 
          prevText: "Ant", 
          showAnim: "explode"
            });

    </script>

<% end %>


  <% @idCurso = params["idCurso"] %>
  <input type="text" name="idCurso" value="<%=@idCurso%>" class="hidden">



  <div class="actions" align="center">
    <%= f.submit :value => "Enviar Formulario", :class => "btn btn-primary", data: { confirm: '¿Confirma sus datos personales?' }%>
  </div>
  
<% end %>

</div>

<hr/>

<div class="actions" align="center">
  <button type="button" onclick="location.href='/soft/becas-dpd/cursos/cursos_disponibles'">Atrás</button>
</div>


<script type="text/javascript">
  $( document ).ready(function() {
    $("#formulario").addClass('hidden');

    $("#btn-nro-doc").click(function() {
       var nro_doc = $("#nro_doc").val(); 
       $.ajax({
         url: '/soft/becas-dpd/personas/existe_persona?nro_doc=' + nro_doc,
         type: 'GET',
       })
       .done(function(data) {
         if (data != "No se encontro"){
           $("#formulario").removeClass('hidden');
           $("#persona_nro_documento").val(data.nro_documento).prop('disabled', true);
           $("#persona_apellidos_y_nombres").val(data.apellidos_y_nombres);
           $("#persona_tipo_documento").val(data.tipo_documento);
           $("#datepicker").val(data.fecha_nacimiento);
           $("#datepicker2").val(data.fecha_alta_espacio_curr);
           $("#persona_nombre_titulo").val(data.nombre_titulo);
           $("#persona_espacio_curricular").val(data.espacio_curricular);
           $("#persona_email").val(data.email);
           $("#persona_tel_particular").val(data.tel_particular);
           $("#persona_tel_laboral").val(data.tel_laboral);
           $("#buscar_doc").addClass('hidden');
         }else{
          $("#formulario").removeClass('hidden');
          $("#persona_nro_documento").val(nro_doc).prop('disabled', true);
         }
        
       })
       .fail(function() {
         console.log("error");
       })
       .always(function() {
         console.log("complete");
       });
       
    });
  });
</script>

<script type="text/javascript">
  
  function capturarEnter(e) {
    if (e.keyCode == 13) {
        var tb = document.getElementById("nro_doc");
        $("#btn-nro-doc").click();
        eval(tb.value);
        return false;
    }
  }

</script>