<%= form_for(@persona) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :apellidos_y_nombres %><br />
    <%= f.text_field :apellidos_y_nombres %>
  </div>
  <div class="field">
    <%= f.label :tipo_documento_id %><br />
    <%= f.number_field :tipo_documento_id %>
  </div>
  <div class="field">
    <%= f.label :fecha_nacimiento %><br />
    <%= f.date_select :fecha_nacimiento %>
  </div>
  <div class="field">
    <%= f.label :situacion_revista_id %><br />
    <%= f.number_field :situacion_revista_id %>
  </div>
  <div class="field">
    <%= f.label :titulo_id %><br />
    <%= f.number_field :titulo_id %>
  </div>
  <div class="field">
    <%= f.label :nombre_titulo %><br />
    <%= f.text_field :nombre_titulo %>
  </div>
  <div class="field">
    <%= f.label :escuela_id %><br />
    <%= f.number_field :escuela_id %>
  </div>
  <div class="field">
    <%= f.label :espacio_curricular %><br />
    <%= f.text_field :espacio_curricular %>
  </div>
  <div class="field">
    <%= f.label :fecha_alta_espacio_curr %><br />
    <%= f.date_select :fecha_alta_espacio_curr %>
  </div>
  <div class="field">
    <%= f.label :localidad_id %><br />
    <%= f.number_field :localidad_id %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :tel_particular %><br />
    <%= f.text_field :tel_particular %>
  </div>
  <div class="field">
    <%= f.label :tel_laboral %><br />
    <%= f.text_field :tel_laboral %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
