<% if can? :manage, Persona %>

<p id="notice"><%= notice %></p>

<p>
  <b>Apellidos y nombres:</b>
  <%= @persona.apellidos_y_nombres %>
</p>

<p>
  <b>Tipo documento:</b>
  <%= @persona.tipo_documento %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%= @persona.fecha_nacimiento %>
</p>



<p>
  <b>Localidad:</b>
  <%= @persona.localidad %>
</p>

<p>
  <b>Email:</b>
  <%= @persona.email %>
</p>

<p>
  <b>Tel particular:</b>
  <%= @persona.tel_particular %>
</p>

<p>
  <b>Situación:</b>
  <%= @persona.estado %>
</p>

<% if (@persona.estado == "Estudiante Superior") || (@persona.estado == "Estudiante Universitario") then %>
  <p>
    <b>Institución:</b>
    <%= @persona.institucion %>
  </p>
  <p>
    <b>Carrera:</b>
    <%= @persona.carrera %>
  </p>
  <p>
    <b>Porcentaje de la Carrera:</b>
    <%= @persona.porcentaje_carrera %>
  </p>
<% else %>
  <p>
    <b>Situacion revista:</b>
    <%= @persona.situacion_revistum %>
  </p>

  <p>
    <b>Titulo:</b>
    <%= @persona.titulo %>
  </p>

  <p>
    <b>Nombre titulo:</b>
    <%= @persona.nombre_titulo %>
  </p>

  <p>
    <b>Escuela:</b>
    <%= @persona.escuela %>
  </p>

  <p>
    <b>Espacio curricular:</b>
    <%= @persona.espacio_curricular %>
  </p>

  <p>
    <b>Fecha alta espacio curr:</b>
    <%= @persona.fecha_alta_espacio_curr %>
  </p>
<% end %>



<%= link_to 'Editar', edit_persona_path(@persona) %> |
<%= link_to 'Atrás', personas_path %>


<% else %>
    
   <%= flash[:error] = "Usted no está autorizado para ingresar a esta página" %>
   <script type="text/javascript">
     window.location.href="/soft/becas-dpd/cursos/cursos_disponibles"
   </script>
    
<% end %>
