<h1>Listado de Situaciones de Revista</h1>

<table class="table table-striped">
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @situacion_revista.each do |situacion_revistum| %>
  <tr>
    <td><%= situacion_revistum.nombre %></td>
    <td><%= link_to 'Ver', situacion_revistum, :class => "btn" %></td>
    <td><%= link_to 'Editar', edit_situacion_revistum_path(situacion_revistum), :class => "btn" %></td>
    <td><%= link_to 'Eliminar', situacion_revistum, method: :delete, data: { confirm: 'Seguro desea eliminar?' }, :class => "btn" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Situación de Revista', new_situacion_revistum_path %>
